.bcg-markets {
  background: #363636;


  &-list {

    &__heading,
    &__brand,
    &__notice {
      color: #fff;
    }

    &__heading {
      font-weight: 500;
    }

    &__brand {
      margin-right: 12px;
      font-size: 16px;
    }

    &__notice {
      font-size: 13px;
    }

  }
}

@media only screen and (min-width: 768px) {
  .bcg-markets {
    height: 700px;
    background: url('../img/baltics_map.jpg') no-repeat;
    background-size: 160%;
    background-position: left 20% bottom 0;
  }
}

@media only screen and (min-width: 900px) {
  .bcg-markets {
    background-size: 140%;
  }
}

@media only screen and (min-width: 992px) {
  .bcg-markets {
    background-size: 120%;
  }
}

@media only screen and (min-width: 1200px) {
  .bcg-markets {
    background-size: 100%;
    background-color: #363636;
    background-position: left 0 top 100%;
  }
}

@media only screen and (min-width: 1350px) {
  .bcg-markets {
    background-size: 100%;
    background-color: #363636;
    background-position: left 0 top 90%;
  }
}

@media only screen and (min-width: 1500px) {
  .bcg-markets {
    background-size: 90%;
    background-color: #363636;
    background-position: left 0 top 80%;
  }
}



.bcg-slider {
  background: linear-gradient(90deg, $light-blue -30.49%, $dark-blue 100%);
}

.bcg-stat {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #f2f2f2;
    border-radius: 50%;
    margin-right: 12px;

    img {
      width: 40px;
      height: 40px;
    }

    &--bank {
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__number {
    font-size: 26px;
    line-height: 33px;
    color: $dark-blue;
  }

  &__description {
    font-size: 20px;
    line-height: 23px;
    color: $text-medium;
  }
}

.bcg-team-container {
  background-color: #f4f4f4;
}

.team-member {
  margin-bottom: 24px;

  &__image {
    border-radius: 6px;
  }

  &__name {
    display: block;
    margin-top: 8px;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: $dark-blue;
  }

  &__position {
    font-size: 14px;
    line-height: 16px;
    color: $text-medium;
  }
}

.bcg-blocks {
  padding: 0;
}

.bcg-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 24px;
  min-height: 340px;

  h3 {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 16px;
    line-height: 24px;
  }

  ul {
    margin: 0 16px 16px;
    li {
      margin-bottom: 12px;
    }
  }

  &--gray {
    background-color: #f2f2f2;
  }

  &--blue {
    background: linear-gradient(90deg, $light-blue -30.49%, $dark-blue 100%);
  }

  &--image {
    min-height: 440px;
    background: url("../img/bcg-baltics.jpg") no-repeat center;
    background-size: cover;
  }
}

@media only screen and (max-width: 575px) {
  .bcg-blocks {
    display: flex;
    flex-direction: column;

    &--swap {

      .bcg-block--image {
        order: 0;
      }

      .bcg-block--blue {
        order: 1;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .bcg-blocks-container {
    margin-top: 100px;
  }
  .bcg-blocks {
    &--neg-margin {
      margin-top: -64px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .bcg-block {
    padding: 60px 40px;
    min-height: 400px;
  }
}