.bcg-markets {
  background: #363636;


  &-list {

    &__heading,
    &__brand,
    &__notice {
      color: #fff;
    }

    &__heading {
      font-weight: 500;
    }

    &__brand {
      margin-right: 12px;
      font-size: 16px;
    }

    &__notice {
      font-size: 13px;
    }

  }
}

@media only screen and (min-width: 768px) {
  .bcg-markets {
    height: 700px;
    background: url('../img/baltics_map.jpg') no-repeat;
    background-size: 160%;
    background-position: left 20% bottom 0;
  }
}

@media only screen and (min-width: 900px) {
  .bcg-markets {
    background-size: 140%;
  }
}

@media only screen and (min-width: 992px) {
  .bcg-markets {
    background-size: 120%;
  }
}

@media only screen and (min-width: 1200px) {
  .bcg-markets {
    background-size: 100%;
    background-color: #363636;
    background-position: left 0 top 100%;
  }
}

@media only screen and (min-width: 1350px) {
  .bcg-markets {
    background-size: 100%;
    background-color: #363636;
    background-position: left 0 top 90%;
  }
}

@media only screen and (min-width: 1500px) {
  .bcg-markets {
    background-size: 90%;
    background-color: #363636;
    background-position: left 0 top 80%;
  }
}



.bcg-slider {
  background: linear-gradient(90deg, $light-blue -30.49%, $dark-blue 100%);
}

.bcg-stat {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  text-decoration: none;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #f2f2f2;
    border-radius: 50%;
    margin-right: 12px;

    img {
      width: 40px;
      height: 40px;
    }

    &--bank {
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__number {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: $dark-blue;
  }

  &__description {
    font-size: 16px;
    line-height: 20px;
    color: $text-medium;
  }

  &--contact {
    .bcg-stat__description {
      line-height: 1.5;
    }
  }

  &--align-start {
    align-items: flex-start;
  }
}

.bcg-team-container {
  background-color: #f4f4f4;
}

.team-member {
  margin-bottom: 24px;

  &__image {
    border-radius: 6px;
  }

  &__name {
    display: block;
    margin-top: 8px;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: $dark-blue;
  }

  &__position {
    font-size: 14px;
    line-height: 16px;
    color: $text-medium;
  }
}

.bcg-blocks {
  padding: 0;
}

.bcg-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 24px;
  min-height: 340px;

  h3 {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 16px;
    line-height: 24px;
  }

  ul {
    margin: 0 16px 16px;
    li {
      margin-bottom: 12px;
    }
  }

  &--gray {
    background-color: #f2f2f2;
  }

  &--blue {
    background: linear-gradient(180deg, $light-blue -20%, $dark-blue 100%);
  }

  &--dark-blue {
    background: linear-gradient(180deg, #27446F 0%, #06517F 100%);
  }

  &--image {
    min-height: 440px;
    background: url("../img/bcg-baltics.jpg") no-repeat center;
    background-size: cover;
  }

  &--office {
    background-image: url("../img/office.jpg");
  }

  &--office2 {
    background-image: url("../img/office2.jpg");
  }
}

@media only screen and (max-width: 575px) {
  .bcg-blocks {
    display: flex;
    flex-direction: column;

    &--swap {

      .bcg-block--image {
        order: 0;
      }

      .bcg-block--blue {
        order: 1;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .bcg-blocks-container {
    margin-top: 100px;
  }
  .bcg-blocks {
    &--neg-margin {
      margin-top: -64px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .bcg-block {
    padding: 60px 40px;
    min-height: 400px;

    &--office2 {
      min-height: 600px;
    }
  }
}


.bcg-brand-item {
  position: relative;
  height: 140px;
  margin-bottom: 24px;
  border-radius: 4px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10;
  }

  &__logo {
    position: absolute;
    top: 19px;
    left: 50%;
    max-width: 80%;
    transform: translate(-50%);
    z-index: 20;
  }
}

.bcg-modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  z-index: 10000;

  &__content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 620px;
    border-radius: 4px;
    overflow: hidden;
  }

  &__close {
    color: #fff;
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 28px;
    font-weight: bold;
    z-index: 100;

    &:hover,
    &:focus {
      text-decoration: none;
      cursor: pointer;
    }
  }

  &--show {
    display: block;
  }

  &__text {
    padding: 24px;
  }
}

.bcg-brand-modal {
  overflow: hidden;

  &__content {
    padding: 0;
  }

  &__content-text {
    padding: 24px;
  }

  &__cover {
    position: relative;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.5);
    }
  }

  &__logo {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%);
    max-width: 320px;
  }
}

@media only screen and (min-width: 575px) {
  .bcg-brand-item {
    &__logo {
      top: 15%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .bcg-brand-item {
    height: 130px;
  }
  .bcg-brand-modal {

    &__cover {
      height: 340px;
    }
    &__logo {
      top: 32%;
    }
  }

  .bcg-modal {
    &__text {
      padding: 32px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .bcg-brand-item {
    height: 148px;
  }
}


.bcg-news-item {
  flex-direction: column;

  &__image {
    display: block;
    margin-bottom: 12px;
    outline : none;

    img {
      outline : none;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 26px;
    a,
    a:hover,
    a:visited,
    a:focus {
      color: $text;
      text-decoration: none;
    }
  }

  &__excerpt {
    margin-bottom: 16px;
    line-height: 20px;
  }

  &__readmore {
    font-size: 14px;
    font-weight: 500;
    color: $dark-blue;
    text-decoration: none;
  }

  &--small {
    padding: 0;
    margin-bottom: 32px;
  }

  &--full {

    .bcg-news-item__title {
      margin-bottom: 12px;
      font-size: 24px;
      line-height: 30px;
    }

    .bcg-news-item__image {
      margin-bottom: 16px;
    }
    .bcg-news-item__readmore {
      font-size: 18px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .bcg-news-item {

    &--full {
      .bcg-news-item__image {
        margin-bottom: 0;
      }

      .bcg-news-item__title {
        margin-bottom: 24px;
        font-size: 32px;
        line-height: 37px;
      }

    }
  }
}

@media only screen and (min-width: 992px) {
  .bcg-news-item {

    &--small {
      padding: 0 16px;
      margin-bottom: 0;
    }
    &--full {
      .bcg-news-item__image {
        padding: 0 40px;
      }
    }
  }
}

.bcg-pagination {
  display: flex;
  align-items: center;

  &__number {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 4px;
    color: $text!important;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    border: 2px solid transparent;

    &--active {
      font-weight: 500;
      color: $dark-blue!important;
      border: 2px solid $light-blue;
      border-radius: 4px;
    }

    &:not(.bcg-pagination__number--disabled):hover {
      border: 2px solid $light-blue;
      border-radius: 4px;
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    background: $light-blue;
    outline: none;
    border: 0;
    border-radius: 4px;
    transition: background-color .2s ease-in-out;

    img {
      width: 12px;
    }

    &--left {
      margin-right: 8px;
    }

    &--right {

      img {
        transform: rotate(180deg);
      }
    }

    &:hover {
      background: $dark-blue;
    }
  }
}

.bcg-news-view {
  position: static;

  &__meta-info {
    display: block;
    margin-bottom: 32px;
    text-align: center;
    color: #666;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    color: $text;
  }

  img {
    display: block;
    margin: 24px 0;
  }

  p {
    margin-bottom: 24px;
    line-height: 1.6;
    font-size: 16px;
  }
}

.bcg-news-read-also-container {
  background-color: #f2f2f2;
}

@media only screen and (min-width: 1200px) {
  .bcg-news-view {

    p {
      width: 90%;
      margin-left: 5%;
    }
  }
}