.hero-section {
  height: 70vh;
  min-height: 300px;
  background: url('../img/main-bg.jpg') center no-repeat;
  background-size: cover;

  &--about,
  &--brands,
  &--contact,
  &--news {
    position: relative;
    background-size: cover;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.25);
    }
  }

  &--blank {
    background: #fff;
    height: 80px;
    min-height: auto;

    .bcg-menu {
      &__logo {
        background: url('../img/BCG_logo.svg') no-repeat;
      }

      &__toggle {
        background-image: url('../img/icons/menu_dark.svg');
      }
    }
  }

  &--about {
    background-image: url('../img/about.jpg');
  }

  &--brands {
    background-position: top center;
    background-image: url('../img/brands.jpg');
  }

  &--contact{
    background-position: top center;
    background-image: url('../img/contact.jpg');
  }

  &--news{
    background-position: bottom left;
    background-image: url('../img/news.jpg');
  }

  &--career{
    background-position: top center;
    background-image: url('../img/contact.jpg');
  }
}

.menu-wrap {
  z-index: 100;
}

.bcg-menu {
  padding: 8px;
  margin-top: 8px;
  &__logo {
    display: block;
    width: 113px;
    height: 40px;
    background: url('../img/BCG_logo_w.svg') no-repeat;
    background-size: 100% auto;
  }

  &__nav {
    flex: 1;
  }

  &__toggle {
    display: none;
  }
}

.nav {

  &__item {

    a,
    a:visited,
    a:focus,
    a:hover {
      text-decoration: none;
      color: $text;
    }

    a:hover {
      color: $dark-blue;
    }

    &--active {
      a,
      a:visited,
       {
        font-weight: 700;
        color: $dark-blue;
      }
    }
  }
}

.hero-text {
  margin-top: 55%;
  transform: translateY(-50%);

  &--less-margin {
    margin-top: 9%;
    transform: none;
  }
}

@media only screen and (max-width: 359px) {
  .hero-section--long {
    height: 90vh;
  }
}
@media only screen and (max-width: 374px) {
  .hero-section--long {
    height: 75vh;
  }
}
@media only screen and (max-width: 410px) {
  .hero-section--long {
    .hero-text {
      margin-top: 60%;
    }
  }
}

@media only screen and (max-width: 768px) {
   .bcg-menu__nav {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     max-height: 0;
     background: #fff;
     z-index: 100;
     overflow: hidden;
     transition: max-height .3s ease-in;

     &:before {
       content: '';
       display: block;
       margin: 16px 23px 48px;
       width: 113px;
       height: 40px;
       background: url('../img/BCG_logo.svg') no-repeat;
       background-size: 100% auto;
     }
   }

  .bcg-menu {

    &__toggle {
      display: block;
      position: absolute;
      width: 32px;
      height: 32px;
      background: url('../img/icons/menu.svg') no-repeat;
      background-size: 100%;
      top: 20px;
      right: 16px;
      z-index: 1000;
    }

    &--expanded {
      .bcg-menu__nav {
        max-height: 500px;
      }
      .bcg-menu__toggle {
        background-image: url('../img/icons/menu_dark.svg')
      }
    }
  }

  .nav {

    &__item {
      margin: 24px 38px;
      font-size: 20px;

      &:last-child {
        margin-bottom: 48px;
      }
    }
  }
}


@media only screen and (min-width: 769px) {
  .hero-section {
    &--blank {
      height: 170px;
    }
  }
  .bcg-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 82px;
    margin-top: 50px;
    padding: 16px;
    border-bottom: 4px solid #06517F;
    background: #fff;
    flex: 0 0 113px;
    &__nav {
      flex: 1;
    }
    &__logo {
      background-image: url('../img/BCG_logo.svg')
    }
  }

  .nav {
    padding: 0;
    margin: 0;
    text-align: right;
    list-style: none;

    &__item {
      display: inline-block;
      margin-right: 8px;

      a {

      }
    }
  }

  .hero-text {
    margin-top: 40%;
    &--less-margin {
      margin-top: 9%;
    }
  }
}
@media only screen and (min-width: 992px) {
  .hero-text {
    margin-top: 25%;
    &--less-margin {
      margin-top: 9%;
    }
  }
}