a, a:visited, a:hover, a:focus {
  color: $light-blue;
}

h1 {
  font-size: 58px;
  font-weight: 500;
  line-height: 62px;
  color: #fff;
}

h2 {
  font-size: 36px;
  line-height: 44px;
  color: $dark-blue;
}

h3 {
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
}

p {

  &.no-margin {
    margin: 0;
  }
}

.text-big {
  font-size: 20px;
  line-height: 32px;
}

span {

}

strong {
  font-weight: 700;
  color: inherit;
}

.text-semi-bold {
  font-weight: 500!important;
}

.text-center {
  text-align: center;
}

.text-white {
  &,
  &:hover,
  &:visited,
  &:focus {
    color: #fff!important;
  }
}

.text-baby-blue {
  color: $baby-blue!important;
}
.text-dark-blue {
  color: $dark-blue!important;
}
.text-medium-dark {
  color: $text-medium!important;
}

.bcg-big-list {
  margin: 16px 0;
  &__item {
    position: relative;
    padding-left: 24px;
    margin-bottom: 16px;
    line-height: 1.5;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $dark-blue;
    }
  }
}

.bcg-link-with-arrow {
  display: inline-block;
  position: relative;

  &:after {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url('../img/icons/forward.svg') no-repeat center;
    background-size: 100%;
    margin-left: 4px;
    transform: translateY(3px);
  }
}


@media only screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
    line-height: 75px;
  }

  h2 {

  }

  h3 {

  }

  h4 {

  }
}