a, a:visited, a:hover, a:focus {
  color: $light-blue;
}

h1 {
  font-size: 58px;
  font-weight: 500;
  line-height: 62px;
  color: #fff;
}

h2 {
  font-size: 36px;
  line-height: 44px;
  color: $dark-blue;
}

h3 {
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

h4 {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  text-transform: uppercase;
}

p {

  &.no-margin {
    margin: 0;
  }
}

.text-big {
  font-size: 20px;
  line-height: 32px;
}

span {

}

strong {
  font-weight: 700;
  color: inherit;
}

.text-semi-bold {
  font-weight: 500!important;
}

.text-white {
  &,
  &:hover,
  &:visited,
  &:focus {
    color: #fff!important;
  }
}

.text-baby-blue {
  color: $baby-blue!important;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
    line-height: 75px;
  }

  h2 {

  }

  h3 {

  }

  h4 {

  }
}