$text: #30302E;
$text-medium: #505050;
$text-light: #999;
$light-blue: #1B75BC;
$dark-blue: #06517F;
$baby-blue: #83C8FE;

@import 'vendor/reset';
@import 'vendor/grid';
@import 'vendor/spacing';
@import 'vendor/glide';


@import 'partials/typography';
@import 'partials/misc';
@import 'partials/hero';
@import 'partials/footer';
@import 'partials/content';



* {
  font-family: 'Roboto'!important;
  color: $text;
}

img {
  width: 100%;
}

.container-full-width {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}
